//
// fonts first
//

@import 'fonts'

html
body 
  margin 0
  padding 0

html
input
button
body 
  font-family "bau"
  font-size 18px

pre
code
.mono 
  font-family"scp"

#c 
  position absolute
  top 0rem
  left 50%
  width 58rem
  margin-left -29rem
  margin-bottom 12rem

#c pre 
  font-size .6rem

#pass 
  width 24rem

button 
  border .3rem solid #000
  background-color #fff
  font-size 1rem
  padding .3rem
  font-weight 500

#ship
input 
  font-family "scp"
  display inline
  border none
  background-color #f5f5f5
  padding .3rem
  outline none

#shipfocus
inputfocus 
  background-color #eee
