//
// fonts first
//

@import 'fonts'

html
body
  font-family "bau"
  font-size 18px

#c
  position absolute
  top 0rem
  left 50%
  width 58rem
  margin-left -29rem
  margin-bottom 12rem

.beam #c
  top 2rem

#beam
  position absolute
  left 50%
  margin-left -28rem
  top 0
  max-height 2rem
  width 12rem
  text-align left
  padding .3rem 0rem
  background-color #fff
  border-bottom 1px solid #000
  z-index 100

#beam .mods .links
  height 1rem
  overflow hidden

#beam .mods .links
#beam .mods .caret
  display inline-block
  vertical-align top

#beam .mods .caret
  border-left-color #ff0000
  margin-top 1px

#beam .mods
  float left
  
#beam .whom
  float right

#beam .user
#beam .ship
  font-family "scp"
  font-size .7rem

#beam a
  line-height 1rem
  font-weight 500
  font-size .7rem
  letter-spacing .05rem
  display block
  color #000
  text-decoration none
  text-transform uppercase