//
// fonts first
//

@import 'fonts'

html
body
  font-family "bau"
  font-size 18px

#c
  position absolute
  top 0rem
  left 50%
  width 58rem
  margin-left -29rem
  margin-bottom 12rem

#beam
	position absolute
	left -8rem
	top 50%
	height auto
	width 6rem
	text-align right
	margin-top -2rem
	border-right .2rem solid #000
	padding 1rem
	line-height 1.4rem
	background-color #000
	-webkit-transition left .2s

#beam:hover
	left 0
	-webkit-transition left .2s

#beam a
	font-weight 500
	font-size .8rem
	display block
	color #fff
	text-decoration none
	text-transform uppercase